La Agencia Nacional de Estadísticas de Buenos Aires recolecta información de nacimientos cuando los padres registran a sus hijos en el registro civil a partir de una encuesta. 

Esa información se encuentra disponible para su análisis en un csv con el siguiente formato (dia_nacimiento, mes_nacimiento, anio_nacimiento, peso_al_nacer, longitud_al_nacer, id_hospital, tipo_parto), donde el tipo de parto 1 es natural y 2 es cesárea. 

Por otro lado la agencia cuenta con información histórica de los hospitales en otro csv con siguiente formato (id_hospital, dirección, promedio_nacimientos_mensual). 

Se pide usar Pandas para:  
1. Calcular la cantidad de nacimientos para cada uno de los hospitales para el mes de Octubre de 2017 e indicar aquellos hospitales que superan el promedio de nacimientos mensuales. 

2. Comparando el mes de Octubre de 2017 indicar programáticamente si se incremento el % de cesáreas con respecto a ese mes del año 2016. 

[Link](https://piazza.com/class_profile/get_resource/jkr2voxi1yw4wt/jkr2vqrpsea4xf)

In [1]:
# Set-up y vista rápida de los datasets sintéticos
import pandas as pd

df_nacimientos = pd.read_csv('data/2017C2_2_nacimientos.csv')
display(df_nacimientos)

df_historico = pd.read_csv('data/2017C2_2_historico.csv')
display(df_historico)

,dia_nacimiento,mes_nacimiento,anio_nacimiento,peso_al_nacer,longitud_al_nacer,id_hospital,tipo_parto
0,17,8,2017,3,30,1,1
1,17,10,2017,3,30,2,2
2,21,10,2017,3,30,3,1
3,8,10,2017,2,30,2,2
4,9,10,2017,3,30,2,2
5,15,10,2017,3,30,1,2
6,17,8,1995,3,30,2,2
7,17,8,1994,3,30,2,1
8,17,8,1995,3,30,3,2
9,17,10,2016,3,30,2,2
10,17,10,2016,3,30,2,1

   id_hospital     dirección  promedio_nacimientos_mensual
0            1        Beruti                             1
1            2  Juan B Justo                             1
2            3      Santa Fe                             1

**1. Calcular la cantidad de nacimientos para cada uno de los hospitales para el mes de Octubre de 2017 e indicar aquellos hospitales que superan el promedio de nacimientos mensuales. **

- Primero filtramos por mes y año
- Agrupamos por hospital y contamos los nacimientos en cada grupo
- Unimos con el dataframe con la data historica
- Filtramos para quedarnos con aquellos que en oct/2017 hayan superado el histórico promedio

In [2]:
nacimientos_octubre = df_nacimientos[(df_nacimientos['mes_nacimiento']==10) & (df_nacimientos['anio_nacimiento']==2017)]
nacimientos_octubre

,dia_nacimiento,mes_nacimiento,anio_nacimiento,peso_al_nacer,longitud_al_nacer,id_hospital,tipo_parto
1,17,10,2017,3,30,2,2
2,21,10,2017,3,30,3,1
3,8,10,2017,2,30,2,2
4,9,10,2017,3,30,2,2
5,15,10,2017,3,30,1,2

In [3]:
nacimientos_por_hospital = nacimientos_octubre.groupby('id_hospital').size().rename("nacimientos_octubre")
nacimientos_por_hospital

id_hospital
1    1
2    3
3    1
Name: nacimientos_octubre, dtype: int64

In [4]:
df_merge = df_historico.join(nacimientos_por_hospital,on='id_hospital')
df_merge

,id_hospital,dirección,promedio_nacimientos_mensual,nacimientos_octubre
0,1,Beruti,1,1
1,2,Juan B Justo,1,3
2,3,Santa Fe,1,1

In [5]:
df_merge[df_merge['nacimientos_octubre'] > df_merge['promedio_nacimientos_mensual']][["id_hospital","dirección"]]

   id_hospital     dirección
1            2  Juan B Justo

**2. Comparando el mes de Octubre de 2017 indicar programáticamente si se incremento el % de cesáreas con respecto a ese mes del año 2016. **

Los pasos a seguir serían:
- Filtrar por mes
- Agrupar por año
- Dentro de cada grupo, calcular el porcentaje de cesareas

In [6]:
octubre = df_nacimientos[df_nacimientos['mes_nacimiento'] == 10]
porc_cesarea = octubre.groupby('anio_nacimiento').tipo_parto.agg(lambda x: (x==2).mean())

if porc_cesarea[2017] > porc_cesarea[2016]: 
    print("Se incrementó el % de cesáreas")
else: 
    print("No se incrementó el % de cesáreas")

Se incrementó el % de cesáreas