> https://piazza.com/class_profile/get_resource/jkr2voxi1yw4wt/jkr2vqu7n114zx

**Resolución de colaborador de la materia: https://github.com/juanlaura/Datos/blob/master/Pandas/Parcial_1C_2018/Parcial%202018%201C.ipynb**

El GCPD (Gotham City Police Dept) recolecta la información de casos policiales que acontecen en Ciudad Gótica. Esta información se encuentra guardada en un dataframe con el siguiente formato: (fecha, id_caso, descripcion, estado_caso, categoria, latitud, longitud).  

Los  posibles estados  que puede tener  un caso son 1: caso abierto, 2: caso  resuelto, 3: cerrado sin resolución.  

Las fechas se encuentran en el formato YYYY-MM-DD. Por otro lado el comisionado Gordon guarda un registro detallado sobre en cuáles casos fue activada la batiseñal para 
pedir ayuda del vigilante, Batman. Esta información se encuentra en un Dataframe con el siguiente formato (id_caso, respuesta), siendo campo respuesta si la señal tuvo una respu
esta positiva (1) o negativa (0) de parte de él.

El  sector  encargado  de  las  estadísticas  oficiales  del  GCPD  quiere  con  esta  información  analizar  las  siguientes situaciones: 

- Tasa de resolución de casos de la fuerza policial por categoría de caso (considerando aquellos casos en los que no participó Batman). 

- Tasa de resolución de casos con la ayuda de Batman (considerando que aquellos casos en los que fue llamado con la batiseñal, participó en la resolución). 

- Indicar el mes del año pasado en el que Batman tuvo mayor participación en la investigación de casos. 
    
---

In [16]:
# Set-up y vista rápida de los dos datasets sintéticos
import pandas as pd

df_gcpd = pd.read_csv('data/2018C1_GCPD.csv')
display(df_gcpd)

df_gordon = pd.read_csv('data/2018C1_gordon.csv')
display(df_gordon)

,fecha,id_caso,descripcion,estado_caso,categoria,latitud,longitud
0,2016-05-03,1,Mataron a uno,1,Arseny,100,100
1,2016-05-03,2,Mataron al Guason!!,2,Robo,100,100
2,2017-07-03,3,Incendio,1,Robo,100,100
3,2017-07-03,4,Robaron un banco,3,Incendio,100,100
4,2017-08-03,5,Mataron a uno,2,Incendio,100,100
5,2017-08-03,6,Mataron a uno,1,Arseny,100,100
6,2017-10-03,7,Mataron a uno,2,Robo,100,100
7,2017-10-03,8,Mataron a uno,3,Incendio,100,100
8,2017-11-03,9,Mataron a uno,2,Arseny,100,100
9,2017-12-03,10,Mataron a uno,1,Robo,100,10

   id_caso  respuesta
0        1          1
1        2          0
2        3          0
3        4          0
4        5          1
5        6          0
6        7          1
7        8          0
8        9          1
9       10          0

Tasa de resolución de casos de la fuerza policial por categoría de caso (considerando aquellos casos en los que no participó Batman).

In [9]:
df_sin_batman = df_gordon.loc[df_gordon['respuesta']==0]
df = df_gcpd.merge(df_sin_batman, how='left', on='id_caso')
df = df.fillna(0)
df = df[['categoria','estado_caso']]

In [4]:
df.groupby(['categoria'])['estado_caso'].agg(lambda x: (x == 2).mean()).rename('tasa de resolución')

categoria
Arseny      0.333333
Incendio    0.333333
Robo        0.500000
Name: tasa de resolución, dtype: float64

---

## Solución Alternativa

In [5]:
df = df.groupby(['categoria','estado_caso']).agg('size').to_frame()
df

                       0
categoria estado_caso
Arseny    1            2
          2            1
Incendio  2            1
          3            2
Robo      1            2
          2            2

In [6]:
df =  df.unstack(fill_value=0)
df.columns = df.columns.droplevel()
df

estado_caso  1  2  3
categoria
Arseny       2  1  0
Incendio     0  1  2
Robo         2  2  0

In [7]:
df['tasa_resolucion'] = (df[1] / (df[1]+df[2]+df[3]))*100
df['tasa_resolucion']

categoria
Arseny      66.666667
Incendio     0.000000
Robo        50.000000
Name: tasa_resolucion, dtype: float64

Tasa de resolución de casos con la ayuda de Batman (considerando que aquellos casos en los que fue llamado con la batiseñal, participó en la resolución).

In [13]:
df_con_batman = df_gordon.loc[df_gordon['respuesta']==1]
df = df_gcpd.merge(df_con_batman, how='inner',on='id_caso')
df = df[['estado_caso','categoria']]

df.groupby(['categoria'])['estado_caso'].agg(lambda x: (x == 2).mean()).rename('tasa de resolución')

categoria
Arseny      0.5
Incendio    1.0
Robo        1.0
Name: tasa de resolución, dtype: float64

Indicar el mes del año pasado en el que Batman tuvo mayor participación en la investigación de casos.

In [15]:
df_con_batman = df_gordon.loc[df_gordon['respuesta']==1] 
df = df_gcpd.merge(df_con_batman, how='inner',on='id_caso') 
df[df.fecha.str.startswith("2017")].fecha.apply(lambda x: x.split('-')[1]).mode()

0    08
1    10
2    11
dtype: object